@using Zee.DTOs.RequestModels
@model Zee.DTOs.ResponseModels.SellerResponseModel





<form class="all-container"  asp-action="Update" method="post">
        <div class="registration-container">
            <input  for="FirstName" name="FirstName"  type="text" value="@Model.Data.UserDto.FirstName" placeholder="First Name">
            <input for="LastName" name="LastName"  type="text" value="@Model.Data.UserDto.LastName" placeholder="Last Name">
           <input  for="Address.HouseNumber" name="Address.HouseNumber"  type="text" value="@Model.Data.Address.HouseNumber" placeholder="House Number">
            <input for="Address.StreetName" name="Address.StreetName"  type="text" value="@Model.Data.Address.StreetName" placeholder="Street Name">
           <input  for="Address.LGA" name="Address.LGA"  type="text" value="@Model.Data.Address.LGA" placeholder="LGA">
            <input for="Address.Town" name="Address.Town"  type="text" value="@Model.Data.Address.Town" placeholder="Town">
           <input  for="Address.State" name="Address.State"  type="text" value="@Model.Data.Address.State" placeholder="State">
            <input for="Address.Country" name="Address.Country"  type="text" value="@Model.Data.Address.Country" placeholder="Country">
           <input  for="AccountNumber" name="AccountNumber"  type="text" value="@Model.Data.AccountNumber" placeholder="Account Number">
            <input for="StoreName" name="StoreName"  type="text" value="@Model.Data.StoreName" placeholder="Store Name">
           <input  for="Logo" name="Logo"  type="text" value="@Model.Data.Logo" placeholder="Logo">
            
            </div>
            <input value="@Model.Data.UserDto.PhoneNumber" for="PhoneNumber" name="PhoneNumber"  type="text" placeholder="Phone Number" maxlength="11">
            </div>

        <div class="button-container Register">
            <button>Submit</button>
        </div>
    </form>
    
   